.pie-wrap {
  height: 150px;
  width: 150px;
  position: relative;
  overflow: hidden;
  margin: 20px;
  border-radius: 50%;
  transform: rotate3d(0, 0, 1, 0.001deg); /* clear artifacts*/
}
.pie-wrap:before,
.pie-wrap:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 150px;
  clip: rect(0px, 75px, 150px, 0px);
  background-color: white;
  transform: rotate3d(0, 0, 1, 0deg);
  animation: 2s spin2 linear 4s forwards;
  z-index: 2;
}
.pie-wrap:after {
  content: " ";
  background: black;
  z-index: 1;
  animation: 2s spin linear 2s forwards;
}

@keyframes spin {
  from {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 180deg);
  }
}
@keyframes spin2 {
  from {
    background: black;
    transform: rotate3d(0, 0, 1, 180deg);
  }
  to {
    background: black;
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
.myImg {
  display: block;
  position: relative;
  z-index: 4;
  border: 5px solid white;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 5px 0 0 5px;
}